<!-- This is the base html file for minikube demo -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Demo</title>
		{% load static %}
		<link rel = "stylesheet" type = "text/css" href="{% static 'demo/css/demo.css' %}">
		{% block script %}
    	{% endblock %}
		
	</head>
		<body>
			<div class="main-title">
			<span id="id_name_of_site" class="title"> Demo Working! </span>
			<span>{% block menu %}
				{% endblock %}</span>
    		</div>
			<div class="content">
		    	{% block content %}
		    	{% endblock %}
			</div>
			
		</body>
</html>